apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-deploy  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo-deploy
  template:
    metadata:
      labels:
        app: mongo-deploy
    spec:
      containers:
        - name: mongo
          image: mongo:7
          command:
            - mongod
            - "--replSet=rs0"
            - "--bind_ip_all"
          ports:
            - containerPort: 27017
              name: mongo-port
          volumeMounts:
            - name: mongo-persistent-storage
              mountPath: /data/db
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 256Mi                               
      volumes:
        - name: mongo-persistent-storage
          persistentVolumeClaim:
            claimName: mongo-pv-claim