name: CI

on:
  pull_request:
    branches:
      - development

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true        

jobs: 
  run-prettier:
    name: Prettier
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.19.0
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run Prettier
        uses: wearerequired/lint-action@v2
        with:
          prettier: true
          auto_fix: true
          commit_message: "style: fix prettier issues"
          prettier_args: "\"{src,test}/**/*.ts\""