name: CI

on:
  pull_request:
    branches:
      - development

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true        

jobs: 
  run-linter:
    name: ESLint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e
        with:
          node-version: 22.19.0
          cache: npm
      - run: npm ci      
      - uses: reviewdog/action-eslint@2fee6dd72a5419ff4113f694e2068d2a03bb35dd
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review 
          fail_level: warning
          filter_mode: nofilter
          eslint_flags: "{src,testing}/**/*.ts"    